<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    	<key>CFBundleDevelopmentRegion</key>
    	<string>English</string>
    	<key>CFBundleDisplayName</key>
    	<string>Flickr Friends</string>
    	<key>CFBundleIdentifier</key>
    	<string>com.methylblue.Flickr Friends</string>
    	<key>CFBundleName</key>
    	<string>Flickr Friends</string>
    	<key>CFBundleVersion</key>
    	<string>1.1</string>
    	<key>CloseBoxInsetX</key>
    	<integer>11</integer>
    	<key>CloseBoxInsetY</key>
    	<integer>18</integer>
    	<key>MainHTML</key>
    	<string>index.html</string>
    	<key>AllowNetworkAccess</key>
    	<true/>
    </dict>
</plist>
