body {
    font-family: "Lucida Grande", sans-serif;
    font-size: 10pt;
    margin: 0;
}

a {
    color: black;
}

#polaroid {
    -webkit-transform: rotate(-0.9deg);
    -webkit-box-shadow: 0px 5px 20px rgba(0,0,0,0.68);
    width: 216px;
    background-color: white;
    color: black;
    padding: 12px;
    margin: 13px;
    padding-bottom: 9px;
}

#polaroid a {
  text-decoration: none;
}

#polaroid a:link:hover {
    text-decoration: underline;
}

#image {
    height: 214px;
    width: 214px;
    margin:0;
    margin-bottom: 5px;
    border: 1px solid #aaa;
}

#text {
    text-align: center;
}

#title {    
    font-size: 12pt;
    font-family: "Handwriting - Dakota";
}

#owner {
    display: none;
    font-family: "Courier New";
}

#clipwrapper
{
    position: relative;
}

#date {
    -webkit-transform: rotate(90deg);
    position: absolute;
    bottom: 70px;
    right: -72px;
    font-size: 8pt;
    font-family: "Courier";
    color: #aaa;
}

#back {
    margin: auto;
    -webkit-box-shadow: 0px 5px 20px rgba(0,0,0,0.68);
    -webkit-border-radius: 5px;
    width: 200px;
    height: 227px;
    padding: 12px;
    background-color: white;
    color: black;
    display: none;
    position: relative;
}

#blackback {
    color: white;
    background:-webkit-gradient(linear, left top, left bottom, from(#000), to(#222));
    -webkit-border-radius: 2px;
    padding: 16px;
    width: 168px;
    height: 158px;
    position: relative;
}

#about {
    margin-bottom: 16px;
    text-align: justify;
}

#labeltext {
    font-family: "Helvetica New";
    font-size: 8pt;
    font-weight: bold;
}

#copyright {
    position: absolute;
    font-size: 8pt;
    bottom: 10px;
    left: 0;
    width: 228px;
    clear: both;
    text-align: center;
}

input {
    width: 162px;
}

#infobutton {
    position:absolute;
    bottom:15px;
    right:14px;
}

#donebutton {
    position: absolute;
    bottom: 16px;
    right: 16px;
}