body {
    font-family: "Lucida Grande", sans-serif;
    font-size: 10pt;
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:link:hover {
    text-decoration: underline;
}

#polaroid {
    -webkit-transform: rotate(-0.9deg);
    -webkit-box-shadow: 0px 5px 20px rgba(0,0,0,0.68);
    width: 216px;
    background-color: white;
    color: black;
    padding: 12px;
    margin: 13px;
    padding-bottom: 9px;
}

#image {
    height: 214px;
    width: 214px;
    margin:0;
    margin-bottom: 5px;
    border: 1px solid #aaa;
}

#text {
    text-align: center;
}

#title {
    font-size: 12pt;
    font-family: "Handwriting - Dakota";
}

#owner {
    display: none;
    font-family: "Courier New";
}

#clipwrapper
{
    position: relative;
}

#date {
    -webkit-transform: rotate(90deg);
    position: absolute;
    bottom: 70px;
    right: -72px;
    font-size: 8pt;
    font-family: "Courier";
    color: #aaa;
}